/* CSS Document */

.news_tile {
	word-wrap: break-word;
	
}

.center{
	align-content:center;
	text-align:center;
	padding-top: 30px;
	}

.form-signin{ 
		margin-left: 40px;
		}
		
.glyphicon-list-alt{
	font-size:40px;
}

.infoList{
	padding: 30px;
}

.glyphicon-remove{
color: #FFF;	
}

.glyphicon-remove:hover{
color: navy;	
}
