/* CSS Document */

.tile{
	height:200px;
	text-align:center;
	padding-top: 100px;
}

#facebook{
	background-color:blue;
	color: white;
	
	
}

#youtube{
	background-color:red;
	color: white;
}

#google{
	background-color:black;
	color: white;
}

#imdb{
	background-color:yellow;
	color: black;
}

.center{
	align-content:center;
	text-align:center;
	padding-top: 30px;
	}